<div class="form-group">


        {{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.surname) }}
    {{ form_row(form.subject) }}

    {{ form_row(form.messageUser) }}



        <button type="submit" class="btn-lg btn-default">Wyślij</button>


    {{ form_end(form) }}

</div>
    <a href="{{ path('movies_list') }}">Powrót do listy</a>



