<div class="row">


        {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.surname) }}

    <div class="col-lg-12 text-center">
        <div id="success"></div>
        <button type="submit" class="btn-lg btn-default">Wyślij</button>
    </div>




    {{ form_end(form) }}

    <a href="{{ path('movies_list') }}">Powrót do listy</a>
</div>


