{% extends 'base.html.twig' %}

{% block body %}

    <br><br><br><br><br>
    <table class="table table-responsive table-condensed>
        <div class="col-lg-8">
        <thead>
        <tr>
            <th>ID</th>
            <th>Imie</th>
            <th>Nazwisko</th>
            <th>Temat</th>
            <th>Wiadomość</th>

        </tr>
        </thead>
        <tbody>
        {% for movie in movies %}
            <tr>
                <td>{{ movie.id }}</td>
                <td>{{ movie.name }}</td>
                <td>{{ movie.surname }}</td>
                <td>{{ movie.subject }}</td>
                <td>{{ movie.messageUser }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </div>
    </table>



{% endblock %}